/* RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
	font-family: Helvetica, Arial, sans-serif;
}

/* INSTALACION DE FUENTES UTILIZADAS */

@font-face {
	font-family: HelveticaNeueLT-Bold;
	src: url(./../fonts/HelveticaNeueLTStd-Bd.otf);
}

@font-face {
	font-family: HelveticaNeueLT-Medium;
	src: url(./../fonts/HelveticaNeueLTStd-Md.otf);
}


/* GENERAL */

body {
	margin: 0 auto;
	text-align: center;
	color:#3c3c3c;
	font-size: 16px;
	font-family: HelveticaNeueLT-Medium;
	max-width: 1200px;
}

/* main {
	text-align: left;
} */

img {
	width: 100%;
	border-radius: 5px;
}

/* HEADER */

header {
	position: sticky;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.bg-body-tertiary {
    --bs-bg-opacity: 0;
}

.navbar-brand {
	justify-content: center;
	align-items: center;
	width: 200px;
}

nav ul li {
	transition-duration: 500ms;
}

nav ul li:hover, nav ul li:active {
	background-color: #ffff00;
	border-radius: 5px;
}

/* FOOTER */

footer {
	background-color: #3c3c3c;
	color:#ffff00;
	height: auto;
	width: 100%;
	margin-top: 10px;
	padding: 30px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
}

.RedesSociales {
	width: 100%;
}

.RedesSociales div {
	/* margin-bottom: 10px; */
	display: inline-flex;
	width: 30%;
	padding: 10px;
}

.RedesSociales div a {
	font-size: .75em;
	color: #ffff00;
	transition-duration: 500ms;
	/* padding: 15px; */
	font-family: HelveticaNeueLT-Bold;	
	text-transform: uppercase;
	text-decoration: none;
}

.RedesSociales div a:hover {
	color: #3c3c3c;
	background-color: #ffff00;
	border-radius: 5px;	
}

.RedesSociales div a img {
	width: 30px;
}

.derechos {
	width: 100%;
	text-align: center;
	font-size: .75em;
}

/* CONTENIDO */

/* TITULARES */
h1 {
	font-family: HelveticaNeueLT-Bold;
	font-size: 2em;
	text-align: left;
	text-transform: uppercase;
	border-bottom: .5px solid #3c3c3c;
	display: block;
	padding-left: 10px;
}

h2 {
	font-size: 1.6em;
	text-align: left;
	text-transform: uppercase;
	margin: 10px;
	font-family: HelveticaNeueLT-Bold;
	margin-top: 30px;
	border-bottom: .5px solid #3c3c3c;
}

h3 {
	font-size: 1em;
	text-align: left;
	margin-bottom: 10px;
	display: inline-block;
	color:#ffff00;
	font-family: HelveticaNeueLT-Bold;
}

h4 {
	font-size: .8em;
	font-family: HelveticaNeueLT-Bold;
	margin-bottom: 5px;
}

h5 {
	font-size: 2em;
	text-align: left;
	margin-bottom: 10px;
	display: inline-block;
	font-family: HelveticaNeueLT-Bold;
	border-bottom: .5px solid #3c3c3c;
}

/* SECCIONES */

/* BANNER INICIAL */

.banner-index {
	margin-bottom: 10px;
}

.carousel-inner {
	height: 300px;
	justify-content: center;
	align-items: center;
}

.carousel-caption {
	display: inline-block;
	width: fit-content;
	height: 150px;
	text-align: left;
	top: 15px;
	left: 15px;
	color:#3c3c3c;
	background-color: #ffff00;
	padding: 10px;
}

.carousel-item img {
	height: 300px;
	object-fit: cover;
}

.carousel-indicators [data-bs-target] {
	background-color:#ffff00;	
}

/* GRID PROYECTOS */
.proyectos-grid {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.home {
	grid-template-rows: repeat(2, 200px);
}

.proye {
	grid-template-rows: repeat(4, 200px);
}

.ProyMin {
	/* border-radius: 40px; */
	transition: 500ms;
	position: relative;
}

.ProyMin:hover {
	box-shadow: 5px 5px 15px rgb(176, 176, 176);
}

.ProyTag {
	position: absolute;
	bottom: 0px;
	background-color: #ffff00;
	z-index: 1px;
	width: 100%;
	padding: 10px;
	height: 50px;
}

.ProyTag h4 {
	border-bottom: .5px solid #3c3c3c;
}

.ProyTagText {
	font-size: .65em;
}

.proyectos-grid div img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.img1 {
	grid-row: span 2;
}

.img2 {
	grid-row: span 1;
}

.img3 {
	grid-column: span 2;
}

.img4 {
	grid-column: span 1;
	grid-row: span 1;
}

.img5 {
	grid-row: span 1;
}

.img6 {
	grid-column: span 1;
}

.img7 {
	grid-column: span 2;
}

.img8 {
	grid-row: span 2;
}

.img9 {
	grid-row: span 1;
}

.img10 {
	grid-row: span 1;
}

.img11 {
	grid-column: span 1;
}

.img12 {
	grid-column: span 1;
}

.pasos {
	width: 100%;
	height: auto;
	border-style: solid;
	border-color: #3c3c3c;
	border-width: 1px;
	border-radius: 5px;
	padding: 5px;
	margin: 10px;
}

/* MODELADO3D E IMPRESION3D */

.banner-sec {
	display: block;
	margin-bottom: 10px;
	width: 100%;
	object-fit: cover;
	position: relative;
}

.banner-sec img {
	height: 300px;
	object-fit: cover;
}

.ImgModelado {
	width: 500px;
	height: auto;
}

.materiales {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 10px;
}

.material {
	flex-direction: column;
	flex-wrap: wrap;
	width: 33%;
	transition-duration: 500ms;
	padding: 10px;
	font-size: .8em;
	margin-top: 5px;
	border-radius: 5px;
	background-color: #eeeeee;
}

.material:hover {
	box-shadow: 5px 5px 15px rgb(176, 176, 176);
}

.ImgImpresion {
	width: 100%;
	height: auto;
	display: inline-block;
}

/* CONTACTO. Formularios */

.formulario {
	display: inline-block;
	width: 45%;
}

.img-formulario {
	display: inline-block;
	text-align: left;
	width: 50%;
	object-fit: cover;
	vertical-align: top;
}

.img-formulario img {
	height: 430px;
	object-fit: cover;
}

input, label, select {
	display: block;
	text-align: left;
	margin: 10px;
	width: 300px;
}

input[type="submit"], input[type="reset"] {
	background-color: #3c3c3c;
	border-radius: 5px;
	padding: 5px;
	font-weight: bold;
	color:#ffff00;
	transition-duration: 500ms;
}

input[type="submit"]:hover, input[type="reset"]:hover {
	background-color: #ffff00;
	color:#3c3c3c;
}


/* MEDIAQUERYS */

/* DESKTOP */
@media screen and (max-width: 1024px) {

	/* FOOTER */
	footer, .RedesSociales {
		align-items: center;
	}

	.RedesSociales div {
		display: inline-block;
		width: 100%;
	}

}

/* TABLET */
@media screen and (max-width: 1023px) and (min-width: 769px)  {

	/* GRID RESPONSIVE */
	.proyectos-grid {
		grid-template-columns: repeat(2, 1fr);
	}

	.home {
		grid-template-rows: repeat(3, 1fr);
	}

	.proye {
		grid-template-rows: repeat(6, 1fr);
	}

	.img1, .img2, .img3, .img4, .img5, .img6, .img7, .img8, .img9, .img10, .img11, .img12 {
		grid-row: span 1;
		grid-column: span 1;
	}

	.material {
		width: 40%;
	}

}

/* MOBILE */
@media screen and (max-width: 768px) {

	h1 {
		font-size: 1.5em;
	}

	/* CAROUSEL */	
	
	.carousel-caption {
		display: block;
		top: 10px;
		left: 10px;
	}

	.d-none {
		display: block!important;
	}

	/* GRID RESPONSIVE */
	.proyectos-grid {
		display: inline-block;
	}

	.ProyMin {
		margin-bottom: 10px;
	}

	.materiales {
		display: block;
	}

	.material {
		width: 100%;
	}

	/* FORMULARIO RESPONSIVE */

	.formulario {
		display: block;
		width: 100%;
	}
	
	.img-formulario {
		display: block;
		width: 100%;
	}
	
	.img-formulario img {
		height: 300px;
		object-fit: cover;
	}

	input, label, select {
		margin-right: 10px;
		width: 90%;
	}

}