/* BANNER INDEX SLIDE IMAGENES*/
.banner{
	margin-bottom: 10px;
	.sele1{
		.carousel-indicators [data-bs-target] {
			background-color: $color-pri;	
		}
		.formato-carousel{
			height: 400px;
			justify-content: center;
			align-items: center;
			.elemento{
				img{
				height: 400px;
				object-fit: cover;
				}
				.carousel-tag{
					width: fit-content;
					height: fit-content;
					text-align: left;
					top: 15px;
					left: 15px;
					color: $color-sec;
					background-color: $color-pri;
					padding: 10px;
					p{
						text-transform: uppercase;
					}
				}
			}
		}
	}
}

/* PROYECTOS MINIATURA */
.home{
	grid-template-rows: repeat(3, 200px);
}
