/* MODELADO3D */

.modelado{
	@include flex(wrap, top, center);
	gap: 10px;
	.pasos{
		width: 30%;
		height: auto;
		padding: 15px;
		border-style: solid;
		border-color: $color-sec;
		border-width: 1px;
		border-radius: 5px;
		transition-duration: 500ms;
		.img-modelado{
			width: fit-content;
            height: auto;
            display: inline-block;
		}
		div{
			h3{
				margin-top: 10px;
				background-color: $color-sec;
				padding: 10px;
				border-radius: 5px;
				display: block;
				text-transform: uppercase;
			}
		}
	}
}