/* INSTALACION DE FUENTES UTILIZADAS */

@font-face {
	font-family: HelveticaNeueLT-Bold;
	src: url(./../assets/fonts/HelveticaNeueLTStd-Bd.otf);
}

@font-face {
	font-family: HelveticaNeueLT-Medium;
	src: url(./../assets/fonts/HelveticaNeueLTStd-Md.otf);
}