// GLOBALS

/* GENERAL */
html{
	background-color: #fdfdfd;
}

body{
	margin: 0 auto;
	text-align: center;
	color: $color-sec;
	font-size: 16px;
	font-family: HelveticaNeueLT-Medium;
	max-width: 1200px;
	background-color: white;
}

img{
	width: 100%;
	border-radius: 5px;
}

/* TITULARES */
h1{
	font-family: HelveticaNeueLT-Bold;
	font-size: 4em;
	text-align: left;
	text-transform: uppercase;
	border-bottom: 1px solid $color-sec;
	display: block;
	padding-left: 10px;
	color: $color-sec;
	width: 100%;
}

h2{
	font-size: 2em;
	text-align: left;
	text-transform: uppercase;
	margin: 10px;
	font-family: HelveticaNeueLT-Bold;
	margin-top: 30px;
	border-bottom: 1px solid $color-sec;
}

h3{
	font-size: 1.25em;
	text-align: left;
	// margin-bottom: 10px;
	display: inline-block;
	color: $color-pri;
	font-family: HelveticaNeueLT-Bold;
}

h4{
	font-size: 1em;
	font-family: HelveticaNeueLT-Bold;
	// margin-bottom: 5px;
	text-align: left;
}

p{
	text-align: left;
	margin: 0px;
}

strong{
	color: $color-sec;
	background-color: $color-pri;
	padding: 5px;
}

/* BANNERS PAG SECUNDARIAS IMAGEN FIJA */

.banner-sec{
	display: block;
	margin-bottom: 10px;
	width: 100%;
	object-fit: cover;
	position: relative;
	img{
		height: 300px;
		object-fit: cover;
	}
	.banner-tag{
		position: absolute;
		display: inline-block;
		height: fit-content;
		width: fit-content;
		top: 15px;
		text-align: left;
		color: $color-sec;
		left: 15px;
		right: 15px;
		padding: 10px;
		background-color: $color-pri;
		border-radius: 5px;
		p{
			text-transform: uppercase;
		}
	}
}

.descripcion{

	padding: 10px;
	// border-bottom: 1px solid $color-sec;
}

/* GRID INDEX Y PROYECTOS */
.proyectos-grid{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
	padding-left: 10px;
	padding-right: 10px;
	div{
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.proy-min{
		transition: 500ms;
		position: relative;
		background-color: $color-pri;
		border: 5px;
		overflow-wrap: break-word;
		&:hover{
			box-shadow: 5px 5px 15px rgb(150, 150, 150);	
		}
		a{
			.proy-titu{
				height: 100%;
				width: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;					align-items: center;
				color: $color-sec;
				.proy-titu-text{
					font-size: 2em;
					line-height: 1em;
					line-break: anywhere;						font-family: HelveticaNeueLT-Bold;
					text-transform: uppercase;
					word-break: break-all;
				}
			}
		}
		
		.proy-tag{
			position: absolute;
			bottom: 0px;
			background-color: $color-pri;
			z-index: 1px;
			width: 100%;
			padding: 10px;
			h4{
				border-bottom: 1px solid $color-sec;
			}
			.proy-tag-text{
				font-size: .8em;
			}
		}
	}
	
	.img-1x1{
		grid-column: span 1;
		grid-row: span 1;
	}

	.img-1x2{
		grid-column: span 1;
		grid-row: span 2;
	}

	.img-2x1{
		grid-column: span 2;
		grid-row: span 1;
	}


	.titu{
		grid-column: span 1;
		grid-row: span 1;
	}
}

