/* MEDIAQUERYS */

/* ----------- TABLET ----------- */

@media screen and (max-width: 1023px) and (min-width: 769px){

	/* GRID RESPONSIVE */
	.proyectos-grid{
		grid-template-columns: repeat(2, 1fr);

		.img-1x1{
			grid-column: span 1;
			grid-row: span 1;
		}
	
		.img-1x2{
			grid-column: span 1;
			grid-row: span 1;
		}
	
		.img-2x1{
			grid-column: span 1;
			grid-row: span 1;
		}
        
	}

	.home{
        grid-template-rows: repeat(3, 1fr);
	}

	.proye{
		grid-template-rows: repeat(8, 1fr);
	}

	.proyectos-grid{
		.titu{
			display: none;
		}
	}
	
    /* IMPRESION 3D */
	.materiales{
		.material{
			width: 48%;
		}
	}
	
	/* MODELADO 3D */
	.modelado{
		.pasos{
			width: 48%;
		}
	}
}

/* ----------- MOBILE ----------- */

@media screen and (max-width: 768px) {

	h1 {
		font-size: 3em;
	}

	h2{
		font-size: 1.5em;
	}

	/* FOOTER */

	.redes-sociales{
        div{
            display: block;
            width: 100%;
        }
    }

	/* CAROUSEL */	
	
	.banner{
		.sele1{
			// height: fit-content;
			.formato-carousel{
				height: fit-content;
				.elemento{
					.img{
						display: block !important;
					}
					.carousel-tag{
						transition: 500ms;
						height: fit-content;
						width: 100%;
						position: relative;
						display: block;
						top: 0px;
						left: 0px;
					}
				}
			}
		}
	}
	
	.d-none {
		display: block!important;
	}

	/* BANNERS PAG SECUNDARIAS IMAGEN FIJA */
	.banner-sec{
		.banner-tag{
			position: static;
			display: block;
			width: 100%;
			max-width: 100%;
		}
	}

	/* GRID RESPONSIVE */
	.proyectos-grid{
		display: block;
		.titu{
			display: none;
		}
	}

	.proy-min{
		margin-bottom: 10px;
	}

	.materiales{
		display: block;
		width: 100%;
		.material{
			width: 100%;
			margin-top: 20px;
		}
	}

	/* MODELADO3D */

	.modelado{
		display: block;
		.pasos{
			width: 100%;
			padding: 20px;
			margin-bottom: 10px;
			border-radius: 0px;
			border-width: 0 0 1px 0;
		}
	}

	/* FORMULARIO RESPONSIVE */

    .img-formulario {
		display: block;
		width: 100%;
        img{
            height: 300px;
            object-fit: cover;
        }
	}

	.formulario {
		display: block;
		width: 100%;
	}
	
	input, label, select {
		margin-right: 10px;
		width: 90%;
	}

}



