/* FOOTER */

footer{
    @include flex(wrap, center, top);
	background-color: $color-sec;
	color: $color-pri;
	height: auto;
	margin-top: 10px;
	padding: 30px;
	flex-direction: column;
    // COMENTADOS PORQUE LOS INCLUYO CON MIXIN FLEX
    // width: 100%;
	// display: flex;
	// flex-wrap: wrap;
	// align-items: center;
}

.redes-sociales{
	width: 100%;
    h4{
        text-align: center;
    }
    div{
        /* margin-bottom: 10px; */
        display: inline-block;
        width: 30%;
        padding: 10px;
        a{
            font-size: .75em;
            color: $color-pri;
            transition-duration: 500ms;
            /* padding: 15px; */
            font-family: HelveticaNeueLT-Bold;	
            text-transform: uppercase;
            text-decoration: none;
            img{
                width: 30px;
            }
            &:hover{
                color: $color-sec;
                background-color: $color-pri;
                border-radius: 5px;	
            }
        }
    }
}

.derechos{
    margin-top: 20px;
	text-align: center;
	font-size: .75em;
}