/* FOOTER */

footer{
	background-color: $color-sec;
	color: $color-pri;
	height: auto;
	width: 100%;
	margin-top: 10px;
	padding: 30px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
}

.RedesSociales{
	width: 100%;
    div{
        /* margin-bottom: 10px; */
        display: inline-flex;
        width: 30%;
        padding: 10px;
        a{
            font-size: .75em;
            color: $color-pri;
            transition-duration: 500ms;
            /* padding: 15px; */
            font-family: HelveticaNeueLT-Bold;	
            text-transform: uppercase;
            text-decoration: none;
            img{
                width: 30px;
            }
            &:hover{
                color: $color-sec;
                background-color: $color-pri;
                border-radius: 5px;	
            }
        }
    }
}

.derechos{
	width: 100%;
	text-align: center;
	font-size: .75em;
}